@media (max-width: 700px) {
    .container {
        max-width: 420px;
        padding: 0 16px;
        margin: 0 auto;
      }

    .header {
        &__nav {
            display: none;
        }

        &__logo {
            background-image: url(../images/logo-mobile.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 68px;
            height: 40px;
        }

        &__comprassion {
            margin-right: 26px;
        }

        &__contacts {
            display: none;
        }
    }

    .contacts {
        &__title {
            padding: 20px 0;
            font-size: 22px;
        }

        &__list {
            padding: 16px 0;
          } 
    }

    .question {
        padding-top: 30px;
        padding-bottom: 50px;

        &__container {
            flex-direction: column;
        }
    }

    .about-us {
        width: 100%;

        &__list {
            margin-bottom: 50px;
        }
    }

    .questions {
        width: 100%;

        &__title {
            font-size: 20px;
        }
    }

    .grayscale {
        height: 477px;
      }

    .cities {
        padding-top: 31px;
        padding-bottom: 50px;
        &__list {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
        }

        &__card-large {
            grid-column: 1;
            height: 395px;
        }

        &__tels {
            display: flex;
            flex-direction: column;
        }
    }

    .footer {
        background-image: linear-gradient(to bottom, #222225 50%, #2a2a2e 50%, #2a2a2e 100%);

        &::before { 
            height: 0;
        }

        &__container {
            flex-direction: column;
        }

        &__left {
            padding: 0;
            padding-top: 41px;
            padding-bottom: 40px;
        } 

        &__right {
            padding: 0;
            padding-top: 43px;
            padding-bottom: 0;
        }
        
        &__list {
            gap: 33px;
            row-gap: 0;
        }

        &__copyrights {
            background: #2a2a2e;
            padding-bottom: 28px;
        }
        
        &__address {
            padding-left: 0;
            margin-bottom: 50px;
        }

        &__copyright-left {
            margin-bottom: 10px;
        }
        
        &__line {
            margin-bottom: 20px;
            width: 100%;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }
    }

    .mobile-visibility {
        display: inline;
        margin-bottom: 10px;
    }

    .ring {
        padding-left: 0;
            &__button {
                padding: 16px 27px;
                margin-right: 0;
                margin-bottom: 15px;
            }
        
            &__email {
                padding-left: 0;
                padding-top: 0;
                margin-bottom: 42px;
            }
        
            &__list {
                margin-bottom: 20px;
            }
    }

    .items__list {
        margin-bottom: 15px;
    }

    .copyrights__container {
        flex-wrap: wrap;
    }

    .extra-footer {
        background-color: #2a2a2e;
        padding-bottom: 28px;
    }

    .desktop-vivibility {
        display: none;
    }
}